[Unit]
Description=Camera
StartLimitIntervalSec=0

[Service]
Type=exec 
StandardOutput=journal
StandardError=journal

EnvironmentFile = /etc/camera.env
ExecStart=/usr/bin/bash -c '/opt/unitctl/scripts/run-camera.sh'

TimeoutStopSec=1s
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
