[Unit]
Description=Restart unitctl on config changes
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=20

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart unitctl

[Install]
WantedBy=multi-user.target
